<div>
<h2>List of student</h2>
<div>
  <span>Filtrer par :</span>
  <button (click)="filterAge()">Plus de 30 ans</button>
  <span>Afficher par :</span>
  <button (click)="listStudentsInitial()">Initiale</button>
  <button (click)="listStudents()">Complet</button>
</div>
<p *ngFor="let student of students" (click)="infoStudent(student)">
  {{student.id}}
  <a href="" [routerLink]="['/students',student.id]" routerLinkActive #route="routerLinkActive">{{student.nom | uppercase}} {{student.prenom | lowercase}}</a>
</p>

<div>

  <h2>Create Student</h2>
  <div class="left">

    <!-- form par le code -->
    <form (ngSubmit)="formSubmit()" [formGroup]="studentForm">
      <p>Formulaire par le code :</p>
      <div>
        <label for="name">Nom: </label>
        <input formControlName="name" >
        <div  *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')"><span class="error">le nom est requis</span></div>
        <div  *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')"><span class="error">le nom doit avoir 10 char min</span></div>
      </div>
      <div>
        <label for="lastname">Prénom: </label>
        <input formControlName="lastname">
        <div  *ngIf="lastnameCtrl.dirty && lastnameCtrl.hasError('required')"><span class="error">le prénom est requis</span></div>
        <div  *ngIf="lastnameCtrl.dirty && lastnameCtrl.hasError('minlength')"><span class="error">le prénom doit avoir 10 char min</span></div>
      </div>
      <div>
        <label for="age">Age: </label>
        <input type="number" formControlName="age">
      </div>
      <div>
        <label for="email">email: </label>
        <input type="email" formControlName="email">
        <div  *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')"><span class="error">l'email n'est pas correctement écrit</span></div>
      </div>
      <button type="submit" [disabled]="studentForm.invalid">ADD</button>
      <span (click)="debug()">debug</span>
    </form>
    


  </div>
  
  <div class="right">
    <div *ngIf="currentStudent">
        <p>{{currentStudent.prenom | lowercase}}</p>
        <p>{{currentStudent.age | number:'.2'}}</p>
        <p>{{currentStudent.age | isMajeur}}</p>
    </div>
  </div>
</div>

</div>
